################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/KataCosmos/.vs/KataCosmos/FileContentIndex
/KataCosmos/ValidadorContrasena.Test/bin/Debug/net8.0
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ref
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/refint
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/Validado.8BEA1F69.Up2Date
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.AssemblyInfo.cs
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.AssemblyInfoInputs.cache
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.csproj.CoreCompileInputs.cache
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.csproj.FileListAbsolute.txt
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.dll
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.genruntimeconfig.cache
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.pdb
/KataCosmos/ValidadorContrasena.Test/obj/Debug/net8.0/ValidadorContrasena.Test.sourcelink.json
/KataCosmos/CalculateStats.Test/bin/Debug/net9.0/CalculateStats.Test.dll
/KataCosmos/CalculateStats.Test/bin/Debug/net9.0/CalculateStats.Test.pdb
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/ref/CalculateStats.Test.dll
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/refint/CalculateStats.Test.dll
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.AssemblyInfo.cs
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.AssemblyInfoInputs.cache
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.csproj.AssemblyReference.cache
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.dll
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.pdb
/KataCosmos/CalculateStats.Test/obj/Debug/net9.0/CalculateStats.Test.sourcelink.json
/KataCosmos/BowlingScore.Test/bin/Debug/net9.0/BowlingScore.Test.dll
/KataCosmos/BowlingScore.Test/bin/Debug/net9.0/BowlingScore.Test.pdb
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/refint/BowlingScore.Test.dll
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/ref/BowlingScore.Test.dll
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.AssemblyInfo.cs
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.AssemblyInfoInputs.cache
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.csproj.AssemblyReference.cache
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.dll
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.pdb
/KataCosmos/BowlingScore.Test/obj/Debug/net9.0/BowlingScore.Test.sourcelink.json
/KataCosmos/.vs/KataCosmos/v17/DocumentLayout.json
/KataCosmos/.vs/KataCosmos/v17/.suo
